:root {
  --spin-duration: 60s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  @apply overflow-hidden;
}

.fib-circle {
  @apply rounded-full box-border w-full h-full shadow-xl relative  ;
  margin: 6%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5), 0 0 8px rgba(0, 0, 0, 0.6) inset;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

#fib34 {
  animation: spin var(--spin-duration) linear infinite;
  @apply relative w-[90%] h-[90%];
}

#fib21 {
  animation: spin var(--spin-duration) linear infinite;
  width: calc(21/34*100%);
  height: calc(21/34*100%);
  @apply absolute bottom-0 right-0;
}

#fib13 {
  animation: spin var(--spin-duration) linear infinite;
  width: calc(13/21*100%);
  height: calc(13/21*100%);
  @apply absolute top-0 right-0;
}

#fib8 {
  animation: spin var(--spin-duration) linear infinite;
  width: calc(8/13*100%);
  height: calc(8/13*100%);
  @apply absolute top-0 left-0;
}

#fib5 {
  animation: spin var(--spin-duration) linear infinite;
  width: 62.5%;
  height: 62.5%;
  @apply absolute bottom-0 left-0;
}

#fib3 {
  animation: spin var(--spin-duration) linear infinite;
  width: calc(3/5*100%);
  height: calc(3/5*100%);
  @apply absolute bottom-0 right-0;
}

#fib2 {
  animation: spin var(--spin-duration) linear infinite;
  width: calc(2/3*100%);
  height: calc(2/3*100%);
  @apply absolute top-0 right-0;
}

#fib1 {
  animation: spin var(--spin-duration) linear infinite;
  width: 50%;
  height: 50%;
  @apply absolute top-0 left-0;
}

#fibsec {
  position: absolute;
  top: calc(60% - 40vh);
  left: calc(60% - 40vh);
  width: calc(3/42*100%);
  height: calc(3/42*100%);
  border-radius: 50%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5), 0 0 8px rgba(0, 0, 0, 0.6) inset;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}
