<div class="clock-window" (click)="goToSettings()">
  <!-- digital time section -->
  <div class="digital-time" *ngIf="showDigitalTime">
    {{ currentHour | number:'2.0-0' }}:{{ currentMinutes | number:'2.0-0' }}:{{ currentSeconds | number:'2.0-0' }}
  </div>

  <!-- clock section -->
  <div class="clock-container" >
    <div class="fib-shapes container" id="fib34" [ngStyle]="{'background-color': fib34BackgroundColor}">
      <app-striped-circle [numStripes]="34" [circleRadius]="50" [stripeColor]="stripeColor" [stripeLength]="stripeLength" [innerLength]="innerLength" [strokeWidth]="stripeWidth" [showShadow]="showStripeShadow"></app-striped-circle>
      <div class="fib-shapes container" id="fib21" [ngStyle]="{'background-color': fib21BackgroundColor}">
        <app-striped-circle [numStripes]="21" [circleRadius]="50" [stripeColor]="stripeColor" [stripeLength]="stripeLength" [innerLength]="innerLength" [strokeWidth]="stripeWidth" [showShadow]="showStripeShadow"></app-striped-circle>
        <div class="fib-shapes container" id="fib13" [ngStyle]="{'background-color': fib13BackgroundColor}">
          <app-striped-circle [numStripes]="13" [circleRadius]="50" [stripeColor]="stripeColor" [stripeLength]="stripeLength" [innerLength]="innerLength" [strokeWidth]="stripeWidth" [showShadow]="showStripeShadow"></app-striped-circle>
          <div class="fib-shapes container" id="fib8" [ngStyle]="{'background-color': fib8BackgroundColor}">
            <app-striped-circle [numStripes]="8" [circleRadius]="50" [stripeColor]="stripeColor" [stripeLength]="stripeLength" [innerLength]="innerLength" [strokeWidth]="stripeWidth" [showShadow]="showStripeShadow"></app-striped-circle>
            <div class="fib-shapes container" id="fib5" [ngStyle]="{'background-color': fib5BackgroundColor}">
              <app-striped-circle [numStripes]="5" [circleRadius]="50" [stripeColor]="stripeColor" [stripeLength]="stripeLength" [innerLength]="innerLength" [strokeWidth]="stripeWidth" [showShadow]="showStripeShadow"></app-striped-circle>
              <div class="fib-shapes container" id="fib3" [ngStyle]="{'background-color': fib3BackgroundColor}">
                <app-striped-circle [numStripes]="3" [circleRadius]="50" [stripeColor]="stripeColor" [stripeLength]="stripeLength" [innerLength]="innerLength" [strokeWidth]="stripeWidth" [showShadow]="showStripeShadow"></app-striped-circle>
                <div class="fib-shapes container" id="fib2" [ngStyle]="{'background-color': fib2BackgroundColor}">
                  <app-striped-circle [numStripes]="2" [circleRadius]="50" [stripeColor]="stripeColor" [stripeLength]="stripeLength" [innerLength]="innerLength" [strokeWidth]="stripeWidth" [showShadow]="showStripeShadow"></app-striped-circle>
                  <div class="fib-shapes container" id="fib1" [ngStyle]="{'background-color': fib1BackgroundColor}">
                    <app-striped-circle [numStripes]="1" [circleRadius]="50" [stripeColor]="stripeColor" [stripeLength]="stripeLength" [innerLength]="innerLength" [strokeWidth]="stripeWidth" [showShadow]="showStripeShadow"></app-striped-circle>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div  *ngIf="showSecondsCounter"  class="fib-shapes container" id="fibsec" [style.background-color]="secondsColor"></div>
    </div>
  </div>

  <!-- calculation panel section -->
  <div *ngIf="showCalculationPanel" class="calculation-panel">
    <h3>How the Clock Works</h3>

    <div class="calculation-group">
      <h4 [style.background-color]="colorWhenUsedForHours">Hours Only</h4>
      <div class="calculation">
        <ng-container *ngIf="hoursValues.length > 0; else noHours">
          {{ formatValues(hoursValues) }} = {{ calculateSum(hoursValues) }}
        </ng-container>
        <ng-template #noHours>None</ng-template>
      </div>
    </div>

    <div class="calculation-group">
      <h4 [style.background-color]="colorWhenUsedForMinutes">Minutes Only</h4>
      <div class="calculation">
        <ng-container *ngIf="minutesValues.length > 0; else noMinutes">
          {{ formatValues(minutesValues) }} = {{ calculateSum(minutesValues) }}
        </ng-container>
        <ng-template #noMinutes>None</ng-template>
      </div>
    </div>

    <div class="calculation-group">
      <h4 [style.background-color]="colorWhenUsedForHoursAndMinutes">Hours & Minutes</h4>
      <div class="calculation">
        <ng-container *ngIf="bothValues.length > 0; else noBoth">
          {{ formatValues(bothValues) }} = {{ calculateSum(bothValues) }}
        </ng-container>
        <ng-template #noBoth>None</ng-template>
      </div>
    </div>

    <div class="calculation-results">
      <div class="result-row">
        <span>Total Hours:</span>
        <span class="result">
        {{ formatValues(combineArrays(hoursValues, bothValues)) }} =
          {{ calculateSum(combineArrays(hoursValues, bothValues)) }}
      </span>
      </div>
      <div class="result-row">
        <span>Total Minutes:</span>
        <span class="result">
        {{ formatValues(combineArrays(minutesValues, bothValues)) }} =
          {{ calculateSum(combineArrays(minutesValues, bothValues)) }}
      </span>
      </div>
    </div>
  </div>


</div>


